{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center ">
  <div class="login-form col-md-12">

    {% if validlink %}
    <form method="post" action=".">
      {% csrf_token %} 
      <h1 class="mb-4 text-center">Reset Password</h1>

      {% if form.errors %}
        <div class="alert alert-warning" role="alert">
          Incorrect username or password.
        </div>
      {% endif %}

      <input type="hidden" name="next" value="{{ next }}" />
      
      {% for field in form.visible_fields %}
        <div class="form-group">
          <label>{{ field.label }}</label>
          {{ field|add_class:"form-control" }}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    {% else %}
      <p>Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
