{% extends 'jobs/job_base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block job_content %}
    <div class="job-posts">
        <div class="row">
            <div class="col-md-4">
                <h2>Posted Jobs</h2>
            </div>

            {% include 'jobs/_job_manage_menu.html' %}
        </div>
        
        {% include 'jobs/_jobs_list.html' with jobs=jobs %}
    </div>

    <div class="job-posts mt-4">
        <div class="row">
            <div class="col-md-4">
                <h2>Applications</h2>
            </div>
            {% include 'jobs/_applicant_manage_menu.html' %}
        </div>

        {% include 'jobs/_applicants_table.html' with jobs_applicants=applicants %}

    </div>

{% endblock %}