<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light header">
        <div class="container">
            
            <a class="navbar-brand" href="{% url 'index' %}">django<span class="work-logo">_work:</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    {% if request.user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jobs:browse' %}">Find Work</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jobs:create' %}">Post a Job</a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.user.first_name %}
                                {{ request.user.first_name }}
                            {% else %}
                                {{ request.user.email }}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Update Profile</a>
                            <a class="dropdown-item" href="#">Email Setting</a>
                            <a class="dropdown-item" href="#">Archived Jobs</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}

                    {% comment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
</header>