{% extends 'base.html' %}

{% block title %}#1 Python Job Posting Space for Pythonista{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hello, Pythonistas!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p  class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Post a Job</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Find Work</a>
    </p>
</div>


<div class="job-posts">
    <h2>Python Jobs</h2>

    <div class="list-group">
      add jobs here...
    </div>
</div>

{% endblock %}