{% load thumbnail %}

<div class="profile mt-4">
    <div class="avatar d-flex justify-content-center">
        {% if job.user.logo %}
            {% thumbnail job.user.logo "180x180" as im %}
                <img src="{{ im.url }}">
            {% endthumbnail %}
        {% else %}
            <div class="initial">
                {{ job.user.avatar_name }}
            </div>
        {% endif %}
    </div>

    <p class="mt-2 text-center">
        <strong>
            {% if job.company %}
                {{ job.company }}
            {% else %}
                {{ job.user.company }}
            {% endif %}
        </strong></br>
        <small>{{ job.user.website|urlize }}</small>
    </p>
</div>