<form>
    <form>
        <fieldset>

          <div class="form-group">
            <label for="disabledSelect">Location</label>
            <select id="disabledSelect" class="form-control">
              <option>Disabled select</option>
            </select>
          </div>

          <div class="form-group">
            <label for="disabledSelect">Job Type</label>
            <select id="disabledSelect" class="form-control">
              <option>Disabled select</option>
            </select>
          </div>

          <div class="form-group">
            <label for="disabledSelect">Work Enviroment</label>
            <select id="disabledSelect" class="form-control">
              <option>Disabled select</option>
            </select>
          </div>

          <div class="form-group">
            <label for="disabledSelect">Position</label>
            <select id="disabledSelect" class="form-control">
              <option>Disabled select</option>
            </select>
          </div>

        </fieldset>
      </form>
  </form>