<a href="{% url 'jobs:detail' job.slug %}" class="list-group-item list-group-item-action pt-4 pb-4">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-3"><strong>{{ job.title }}</strong> <span>at</span> <strong>{{ job.company }} {% if job.closed %}[Closed] {% endif %}  {% if job.archived %}<br/><span class="badge badge-info"></span>Archived</span>{% endif %}</strong></h5>
        <p>
        <small>
            3 days ago
        </small>
    </p>
    </div>

    <p>Magna pulvinar parturient sociosqu ligula. Taciti vehicula fusce sit ullamcorper convallis sodales scelerisque class. Habitant facilisis nam ex libero semper. Posuere ornare quisque ante fermentum. Condimentum nullam euismod risus vitae scelerisque vehicula.</p>

    <small class="mb-2">
        <strong>Fixed Price</strong>

        <span class="ml-4">
            {% include 'jobs/_job_location.html' %}
        </span>

        <span class="ml-4">
            {% include 'jobs/_job_work_environment.html' %}
        </span>

        <span class="ml-4">
            <strong>$</strong>
            1000 - 2000
        </span>

        <span class="ml-4">
            {% include 'jobs/_job_position.html' %}
        </span>
    </small>
</a>