{% load widget_tweaks %}
{% load question_display %}

<div class="modal-header">
    <h5 class="modal-title" id="genericModalLabel">Applicant Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="modal-body">
        <h2><strong>{{ applicant.name }}</strong></h2>
        <p>contact: {{ applicant.email }}</p>
        <div>
            <strong>Cover Letter:</strong>
            {{ applicant.cover_letter|linebreaks }}
        </div>
        
        {% if applicant.document %}
        <p>
            <a href="{{ applicant.document.url }}" target="_blank"  class="btn btn-info">Download Document</a>
        </p>
        {% endif %}

        {% if applicant.applicantanwer_set.all %}
            <h2 class="mt-4">Answers:</h2>
            {% for answer in applicant.applicantanwer_set.all %}
            <div>
                <div>
                    <strong>{{ answer.question.question }}</strong>
                    {{ answer.answer|linebreaks }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="modal-footer">
        {% if applicant.applicant_status != 'interview' %}
            <button type="submit" name="interview" value="true" class="btn btn-primary" onclick="return confirm('Are you sure want to INTERVIEW {{ applicant.name }}?');">For Interview</button>
        {% endif %}
        <button type="submit" name="reject" value="true" class="btn btn-warning" onclick="return confirm('Are you sure want to REJECT {{ applicant.name }} ?');">Reject</button>
    </div>
</form>