{% extends 'base.html' %}

{% block title %}Find Work{% endblock %}

{% block meta_tags %}
  {% with meta_description="Get the right Python jobs for you" meta_title="django_work: #1 Python Job Posting Space for Pythonista" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="row mt-10">

  <div class="col-md-9">
      <div class="job-posts">
          <h2>Find Work</h2>

          <div class="list-group">
            {% for job in object_list %}
              {% include 'jobs/_job_summary.html' with job=job %}
            {% endfor %}

            
            <div class="container d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page=1" class="page-link">&laquo; first</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}"  class="page-link">previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
                    </ul>
                </nav>
            </div>

          </div>
      </div>
  </div>

  <div class="col-md-3">
    <div class="job-sidebar">
        <h4>Filter</h4>

        {% include 'jobs/_job_filter.html' %}
    </div>
  </div>

</div>
{% endblock %}