{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% with object as job %}
    <div class="row mt-10">

        <div class="col-md-9 mb-4">
            <div class="job-posts">
                <h2>{{ job.title }} at {{ job.company }}
                </h2>
                <div class="content">
                    {{ object.description|linebreaks }}
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            {% if request.user == job.user %}
                <a href="{% url 'jobs:update' job.slug %}" class="btn btn-primary btn-lg btn-block">Edit Job</a>
            {% else %}
                <a href="{{ job.job_link }}" class="btn btn-primary btn-lg btn-block">Submit Application</a>
            {% endif %}
            <div class="job-sidebar mt-4">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Fixed Price</strong></li>
                    <li class="list-group-item">{% include 'jobs/_job_location.html' %}</li>
                    <li class="list-group-item">{% include 'jobs/_job_work_environment.html' %}</li>
                    <li class="list-group-item">{% include 'jobs/_job_position.html' %}</li>
                </ul>
            </div>
        </div>
    
    </div>
{% endwith %}
{% endblock %}