{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ job.title }} at {{ job.company }}{% endblock %}

{% block meta_tags %}
  {% with meta_description=job.description meta_title=job.full_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
{% with object as job %}
    <div class="row mt-10">

        <div class="col-md-9 mb-4">
            <div class="job-posts">
                <h2>{{ job.title }} at {{ job.company }} {% if job.closed %}[Closed] {% endif %}  {% if job.archived %}[Archived]{% endif %}
                </h2>
                <div class="content">
                    {{ job.description|linebreaks }}

                    {% if job.jobquestion_set.all %}
                    <h3 class="mt-5">Questions</h3>

                    {% if job.user == request.user %}
                        <a href="{% url 'jobs:question_create' job.slug %}" class="btn btn-primary" data-toggle="modal" data-target="#ajaxModal" onclick="return openAjaxModal('{% url 'jobs:question_create' job.slug %}')">Add Question</a>
                    {% endif %}

                    <ul class="list-group list-group-flush">
                        {% for question in job.jobquestion_set.all %}
                        <li  class="list-group-item d-flex">
                            {% if job.user == request.user %}
                            <small><a href="#" class="mr-2" data-toggle="modal" data-target="#ajaxModal" onclick="return openAjaxModal('{% url 'jobs:question_update' job.slug question.id %}')">Edit</a>
                            &middot;<a href="{% url 'jobs:question_delete' job.slug question.id %}" class="ml-2 mr-2" onclick="return confirm('Are you sure want to delete the question?');">Delete</a></small>
                            &middot; 
                            {% endif %}
                            {{ question.question }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            {% if job.user == request.user %}
                <div class="job-posts mt-5">
                    <h2>Applicants</h2>
                    {% include 'jobs/_applicants.html' %}
                </div>
            {% endif %}
        </div>
    
        <div class="col-md-3">

            {% if request.user == job.user %}
                <div class="dropdown mr-auto">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownJob{{ job.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Update
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownJob{{ job.id }}">
                        <a href="{% url 'jobs:update' job.slug %}" class="dropdown-item">Edit</button>

                        <a href="{% url 'jobs:archive' job.slug %}" data-toggle="modal" data-target="#archivedModal" class="dropdown-item">
                            {% if job.archived %}Restore{% else %}Archived{% endif %}
                        </a>
                        
                        <a href="{% url 'jobs:draft' job.slug %}" class="dropdown-item">
                            {% if job.draft %}
                                Publish
                            {% else %}
                                Set to Draft
                            {% endif %}
                        </a>

                        <a href="{% url 'jobs:status' job.slug %}" class="dropdown-item">
                            {% if job.closed %}
                                Open
                            {% else %}
                                Close
                            {% endif %}
                        </a>
                    </div>
                </div>

                <a href="#" class="btn btn-block btn-info mt-2"  data-toggle="modal" data-target="#ajaxModal" onclick="return openAjaxModal('{% url 'jobs:question_create' job.slug %}')">Add Questions</a>

            {% else %}
                <a href="#" class="btn btn-primary btn-lg btn-block" onclick="return openAjaxModal('{% url 'jobs:submit_application' job.slug %}')" data-toggle="modal" data-target="#ajaxModal">Submit Application</a>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-block">Back</a>
            {% endif %}

            <div class="job-sidebar mt-4">
                <ul class="list-group job-manage">
                    <li class="list-group-item"><strong>{{ job.get_payment_display }}</strong></li>
                    <li class="list-group-item">{% include 'jobs/_job_location.html' %}</li>
                    <li class="list-group-item">{% include 'jobs/_job_work_environment.html' %}</li>
                    <li class="list-group-item">{% include 'jobs/_job_position.html' %}</li>

                    {% if job.salary_range %}
                        <li class="list-group-item"><strong>$</strong> {{ job.salary_range }}</li>
                    {% endif %}
                </ul>
            </div>

            <div class="job-sidebar mt-4">
                <div class="profile mt-4">
                    <div class="avatar d-flex justify-content-center">
                        {% if job.user.logo %}
                            {% thumbnail job.user.logo "180x180" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                        {% else %}
                            <div class="initial">
                                {{ job.user.avatar_name }}
                            </div>
                        {% endif %}
                    </div>
            
                    <p class="mt-2 text-center">
                        <small>{{ job.user.company }}</small></br>
                    </p>
                </div>

                <ul class="list-group job-manage">
                    <li class="list-group-item">
                        {{ job.user.about|linebreaks }}
                    </li>
                    <li class="list-group-item">
                        {{ job.user.website|urlize }}
                    </li>
                </ul>
            </div>
        </div>
    
    </div>

    {% include 'jobs/_job_confirm_archived.html' %}

{% endwith %}
{% endblock %}