{% extends 'jobs/job_base.html' %}

{% block title %}{% if object %}Update Job{% else %}Create Job{% endif %}{% endblock %}

{% block job_content %}
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="job-posts">
            <div class="row">
            <div class="col-md-4">
                <h2>My Jobs</h2>
            </div>
    
            {% include 'jobs/_job_manage_menu.html' %}
        </div>

        <div class="job-form">
            
            {% for field in form.visible_fields %}
                {% include 'utils/_field.html' with field=field  %}
            {% endfor %}

            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>

                {% if object %}
                    <a href="{% url 'jobs:detail' object.slug %}" class="btn ">Cancel</a>
                {% else %}
                    <a href="{% url 'jobs:manage' %}" class="btn ">Cancel</a>
                {% endif %}
            </div>
        </div>
    </form>
    {% include 'jobs/_job_confirm_archived.html' with job=object %}
{% endblock %}