{% extends 'base.html' %}

{% block title %}{{ job.title }} at {{ job.company }}{% endblock %}

{% block meta_tags %}
  {% with meta_description=job.description meta_title=job.full_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
{% with object as job %}
    <div class="row mt-10">

        <div class="col-md-9 mb-4">
            <div class="job-posts">
                <h2>{{ job.title }} at {{ job.company }}
                </h2>
                <div class="content">
                    {{ object.description|linebreaks }}
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            {% if request.user == job.user %}
                <a href="{% url 'jobs:update' job.slug %}" class="btn btn-primary btn-lg btn-block">Edit Job</a>

                <a href="{% url 'jobs:detail' object.slug %}" class="btn btn-block btn-lg" data-toggle="modal" data-target="#archivedModal">{% if object.archived %}Restore{% else %}Archive{% endif %}</a>
            {% else %}
                <a href="{{ job.job_link }}" class="btn btn-primary btn-lg btn-block">Submit Application</a>
            {% endif %}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-block">
                    <svg class="bi bi-caret-left-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 00-1.659-.753l-5.48 4.796a1 1 0 000 1.506z"/>
                      </svg>
                Back</a>

            <div class="job-sidebar mt-4">
                <ul class="list-group">
                    <li class="list-group-item"><strong>{{ job.get_payment_display }}</strong></li>
                    <li class="list-group-item">{% include 'jobs/_job_location.html' %}</li>
                    <li class="list-group-item">{% include 'jobs/_job_work_environment.html' %}</li>
                    <li class="list-group-item">{% include 'jobs/_job_position.html' %}</li>

                    {% if job.salary_range %}
                        <li class="list-group-item"><strong>$</strong> {{ job.salary_range }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    
    </div>

    {% include 'jobs/_job_confirm_archived.html' %}
    
{% endwith %}
{% endblock %}