$whiteColor: #fff;
$backgroundH2: #e9ecef;
$jobBackground: #F2F2F2;
$btnColor: #FFB726;

// font-sizes
$headerFont: 1.5em;
$subHeaderFont: 2em;
$font: 1em;
$sidebar: 0.9em;

$shadowProperty: 0px 2px 4px 0px #cfcfcf;

@mixin shadowMixin($property) {
	-webkit-box-shadow: $property;
	-moz-box-shadow: $property;
	box-shadow: $property;
}

@mixin boxBg {
	background-color: $whiteColor;
	@include shadowMixin($shadowProperty);
	border: 1px solid rgba(0, 0, 0, 0.125);
}

body {
	background-color: #FFF8F5;
	color: #333;
	font-family: Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	font-weight: 400;
	font-size: $font;

	h2 {
		font-size: $headerFont;
	}

	h3 {
		font-size: $font;
		font-weight: 700;
		color: #333;
	}

	.main-content {
		margin-top: 6em;
	}

	.btn-primary {
		background-color: #FFB726;
		border: 0;
	}

	.btn-primary:hover {
		background-color: #fd7e14;
		border: 0;
	}

	a {
		color: #0366d6;
	}

	a:hover, a:active {
		color: #0366d6;
		text-decoration: underline;
	}
}

h5 {
	font-weight: 300;
	
	strong {
		font-weight: 450;
	}

	span {
		color: #555;
	}
}

.header {
	background-color: #24292e;

	a.nav-link {
		color: $whiteColor !important;
		padding-left: 1.2em !important;
		padding-right: 1.2em !important;
		font-weight: 600;
		font-size: 0.8em;
	}

	a.nav-link:hover {
		color: $backgroundH2 !important;
	}

	li.active {
		border-bottom: 0.1em #fff solid;
	}

	.navbar-brand {
		font-weight: bold;
		color: $whiteColor;
		font-size: $headerFont;
		text-transform: lowercase;
		font-weight: 300;
	}

	.navbar-brand:hover {
		color: $whiteColor;
	}

	.work-logo {
		color: #FFF8F5;
		font-weight: 600;
	}

}

.jumbotron {
	@include shadowMixin($shadowProperty);
	background-color: $jobBackground;
}

.job-posts {
	background-color: $whiteColor;
	@include boxBg;
	border: 1px solid rgba(0, 0, 0, 0.125);
	font-size: $font;

	h2 {
		padding: 1em;
    	padding-bottom: 7px;
		color: #495057;
	}

	tr:first {
		border-top: 0;
	}

	.content {
		padding: 1.5em;
	}

	.list-group-item:first-child {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	
	
	.list-group-item {
		border-left:0;
		border-right:0;
		padding-bottom: 0;
	}

	.nav-item{
		.active {
			background-color: #cfcfcf;
		}
		a.active:hover {
			color:$whiteColor;
		}

		:hover {
			font-weight: 700;
		}
		
	}

	.job-applicants {
		padding: 2em;

		.nav-item {
			.nav-link {
				background: $whiteColor;
				border-bottom: 1px solid rgba(0, 0, 0, 0.125);
			}
	
			.nav-link:hover {
				background-color: $whiteColor;
				color: #333;
				font-weight: 400;
			}

			.active {
				border-bottom: 0;
				background-color: $whiteColor;
				color: #333;
				font-weight: 600;
			}
		}

	}
}


footer {
	a {
		color: #333;
	}
}

.job-sidebar {
	background-color: $whiteColor;
	@include boxBg;
	font-size: $sidebar;

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.job-manage {
		.active {
			background: transparent;
			font-weight: 600;

			a {
				color: #555;
			}
		}

		.list-group-item:first-child, .list-group-item:last-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0 !important;
    		border-bottom-right-radius: 0 !important;
		}

		.list-group-item {
			border-right: 0;
			border-left: 0;
		}

		.list-group-item:last-child {
			border-bottom: 0;
		}
	}

	.profile {
		.avatar {
			border: 1px solid rgba(0, 0, 0, 0.125);
			text-align: center;
			height: 2em;
			width: 2em;
			font-size: 3em;
			vertical-align: middle;
			padding-top: 12px;
			border-radius: 4em;
			font-weight: 700;
			color: #FFB726;
		}
	}

	.filter {
		padding: 2em;
	}
}

.job-form {
	padding: 4em;
	padding-top: 0;

	.form-group {
		margin-top: 3em;
	}
}

.login-form {
	h1 {
		font-size: 1.5em;
		margin: 0;
		padding: 0;
		font-weight: 400;
	}

	background-color: $whiteColor;
	padding: 2em;
	max-width: 500px;
	
}